@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* ====================== DARK MODE ====================== */
@custom-variant dark (&:where(.dark, .dark *));

/* ====================== THEME ====================== */
@theme {
  /* Cores */
  --color-brand: #fa7275;
  --color-brand-100: #ea6365;

  --color-red: #ff7474;
  --color-error: #b80000;
  --color-green: #3dd9b3;
  --color-blue: #56b8ff;
  --color-pink: #eea8fd;
  --color-orange: #f9ab72;

  /* Light palette */
  --color-light-100: #333f4e;
  --color-light-200: #a3b2c7;
  --color-light-300: #f2f5f9;
  --color-light-400: #f2f4f8;

  /* Dark palette */
  --color-dark-100: #04050c;
  --color-dark-200: #131524;

  /* Font Family */
  --font-poppins: var(--font-poppins);

  /* Box Shadow */
  --shadow-drop-1: 0px 10px 30px 0px rgba(66, 71, 97, 0.1);
  --shadow-drop-2: 0 8px 30px 0 rgba(65, 89, 214, 0.3);
  --shadow-drop-3: 0 8px 30px 0 rgba(65, 89, 214, 0.1);

  /* Border Radius (mantém compatibilidade com shadcn/ui ou similares) */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Animações */
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  /* Keyframes personalizados */
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }

  .h2 {
    @apply text-[24px] leading-[36px] font-bold;
  }

  .h5 {
    @apply text-[16px] leading-[24px] font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-[24px] font-normal;
  }

  .body-2 {
    @apply text-[14px] leading-[20px] font-normal;
  }

  .auth-form {
    @apply flex! max-h-[800px]! w-full! max-w-[580px]! flex-col! justify-center! space-y-6! transition-all! lg:h-full! lg:space-y-8!;
  }
  .form-title {
    @apply text-light-100! text-center! text-[34px]! leading-[42px]! font-bold! md:text-left!;
  }

  .shad-form-label {
    @apply text-light-100! w-full! pt-2! text-[14px]! leading-[20px]! font-normal!;
  }

  .shad-form-item {
    @apply border-light-300 shadow-drop-1 flex h-[78px] flex-col justify-center rounded-xl border px-4;
  }
  .shad-no-focus {
    @apply ring-offset-transparent outline-none focus:ring-transparent focus:ring-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 focus-visible:outline-none;
  }

  .shad-input {
    @apply placeholder:text-light-200! border-none! p-0! text-[14px]! leading-[20px]! font-normal! shadow-none! ring-offset-transparent! outline-none! focus:ring-transparent! focus:ring-offset-0! focus-visible:ring-0! focus-visible:ring-transparent! focus-visible:ring-offset-0! focus-visible:outline-none!;
  }

  .button {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .primary-btn {
    @apply bg-brand hover:bg-brand-100 rounded-full text-[14px] leading-[20px] font-medium transition-all;
  }

  .form-submit-button {
    @apply bg-brand hover:bg-brand-100 h-[66px] w-full rounded-full text-[14px] leading-[20px] font-medium transition-all;
  }

  .body-2 {
    @apply text-[14px] leading-[20px] font-normal;
  }

  .shad-form-message {
    @apply text-red! ml-4! text-[14px]! leading-[20px]! font-normal!;
  }

  .error-message {
    @apply bg-error/5 text-error mx-auto w-fit rounded-xl px-8 py-4 text-center text-[14px] leading-[20px] font-normal;
  }

  .shad-alert-dialog {
    @apply max-w-[95%]! space-y-4! rounded-xl! bg-white! px-4! py-10! outline-none! sm:w-fit! md:rounded-[30px]! md:px-8!;
  }
  .otp-close-button {
    @apply absolute! -top-7! -right-1! cursor-pointer! sm:-top-4! sm:-right-2!;
  }

  .subtitle-2 {
    @apply text-[14px]! leading-[20px]! font-semibold!;
  }

  .shad-otp {
    @apply flex! w-full! justify-between! gap-1! sm:gap-2!;
  }
  .shad-otp-slot {
    @apply ring-brand! shadow-drop-1 text-brand-100! border-light-300! flex! size-12! justify-center! gap-5! rounded-xl! border-2! text-[40px]! font-medium! md:size-16!;
  }

  .shad-submit-btn {
    @apply bg-brand! hover:bg-brand-100! rounded-full! text-[14px]! leading-[20px]! font-medium! transition-all!;
  }

  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .main-content {
    @apply bg-light-400! h-full! flex-1! overflow-auto! px-5! py-7! sm:mr-7! sm:rounded-[30px]! md:mb-7! md:px-9! md:py-10!;
  }

  .header {
    @apply hidden! items-center! justify-between! gap-5! p-5! sm:flex! lg:py-7! xl:gap-10!;
  }
  .header-wrapper {
    @apply flex min-w-fit! items-center justify-center gap-4!;
  }

  .sign-out-button {
    @apply bg-brand/10! text-brand! hover:bg-brand/20! flex h-[52px]! min-w-[54px]! items-center! justify-center! rounded-full! p-0! shadow-none! transition-all!;
  }

  .sidebar {
    @apply hidden! h-screen! w-[90px]! flex-col! overflow-auto! px-5! py-7! sm:flex! lg:w-[280px]! xl:w-[325px]!;
  }

  .sidebar-nav {
    @apply text-brand! mt-9! flex-1! gap-1! text-[16px]! leading-[24px]! font-semibold!;
  }

  .sidebar-nav-item {
    @apply text-light-100! flex! h-[52px]! items-center! justify-center! gap-4! rounded-xl! text-[16px]! leading-[24px]! font-semibold! lg:w-full! lg:justify-start! lg:rounded-full! lg:px-[30px]!;
  }

  .shad-active {
    @apply bg-brand! shadow-drop-2! text-white!;
  }

  .nav-icon {
    @apply w-6! opacity-25! invert! filter!;
  }
  .nav-icon-active {
    @apply opacity-100! invert-0!;
  }

  .sidebar-user-info {
    @apply bg-brand/10! text-light-100! mt-4! flex! items-center! justify-center! gap-2! rounded-full! p-1! lg:justify-start! lg:p-3!;
  }
  .sidebar-user-avatar {
    @apply aspect-square! w-10! rounded-full! object-cover!;
  }

  .caption {
    @apply text-[12px] leading-[16px] font-normal;
  }
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
